<!DOCTYPE html>
<html lang="es">
  <%- include ("../layouts/head") %>    
  <body>
  <%- include ("../layouts/header") %> 
<main>
  <div class="bg-registro-img"> 
  <form class="sombra" method="POST" action="/user/register" enctype="multipart/form-data" style="padding-top: 20px;">
    <div class="container-registro">
      <img src="/images/logo formulario.jpg" class="logo2">
      <div class="col-12" style="margin: 20px;">
        <a class="btn-azul col-5" style="font-size: 1rem; text-align: center;" href="/user/login">Inicia Sesión</a>
        <a class="btn-azul col-5" style="font-size: 1rem; text-align: center;" href="/user/register">Registrate</a>
      </div>            
      <br/>
      <!-- nombre y apellido  -->
      <label for="nombre y apellido"><b>Nombre y Apellido:</b></label>
      <input 
      type="text" 
      name="fullname"
      placeholder="Jhon Doe"
      value="<%= locals.oldData ? oldData.fullname : null %>"
      id="<%= locals.errors && errors.fullname ? 'error' : null %>"
      >
    <% if (locals.errors && errors.fullname) { %>
      <p class="errortexto"> <%= errors.fullname.msg %> <i class="fas fa-exclamation-circle"></i></p>
      <% } %>
      
      <!--email  -->
      <label for="email"><b>Email:</b></label>
      <input 
      type="text" 
      placeholder="jhondoe@demo.com" 
      name="email"
      value="<%= locals.oldData ? oldData.email : null %>"
      id="<%= locals.errors && errors.email ? 'error' : null %>"
      >
    <% if (locals.errors && errors.email) { %>
      <p class="errortexto"> <%= errors.email.msg %> <i class="fas fa-exclamation-circle"></i></p>
      <% } %>
  
      <!--comtraseña -->
      <label for="psw"><b>Contraseña:</b></label>
      <input 
      type="password" 
      placeholder="********" 
      name="password"
      value="<%= locals.oldData ? oldData.password : null %>"
      id="<%= locals.errors && errors.password ? 'error' : null %>"
      >
    <% if (locals.errors && errors.password) { %>
      <p class="errortexto"> <%= errors.password.msg %> <i class="fas fa-exclamation-circle"></i></p>
      <% } %>

      <input type="text" id="rol" name="rol" value="1" style="display:none;"/>
       
      <!--subir foto-->
      <label for="subir foto"><b>Avatar:</b></label>
      <p></p>
      <input type="file" id="foto_x" name="avatar"><br><br>
      <% if (locals.errors && errors.avatar) { %>
        <p class="errortexto"> <%= errors.avatar.msg %> <i class="fas fa-exclamation-circle"></i></p>
        <% } %>
  
      <div class="clearfix">
        <button type="submit" class="btn-verde">Registrarse</button>
      </div>
    </div>
  </form>
</div> 
</main>

<%- include ("../layouts/footer") %>

</body>
</html>
