<!DOCTYPE html>
<html lang="es">
  <%- include ("./layouts/head") %>    
  <body>
  <%- include ("./layouts/header") %>
<main>

    <div class="bg-img">
        <form method="POST" action="/user/login" class="container">
          <img src="/images/logo formulario.jpg" class="logo2">
          <div class="btn-group">
            <a href="/user/login">Inicia Sesión</a>
            <a href="/user/register">Registrate</a>
          </div>
          <p></p>       
          <label for="email"><b>Email</b></label>
          <input 
          type="text" 
          placeholder="Email" 
          name="email"
          value="<%= locals.oldData ? oldData.email : null %>"
          id="<%= locals.errors && errors.email ? 'error' : null %>"
          >
          <% if (locals.errors && errors.email) { %>
            <p class="errortexto"> <%= errors.email.msg %> <i class="fas fa-exclamation-circle"></i></p>
            <% } %>
      
          <label for="psw"><b>Clave</b></label>
          <input type="password" placeholder="Clave" name="password">
      
          <button type="submit" class="btn">Iniciar Sesión</button>
          <a href="#"> Olvidaste tu clave? </a>
          <p>
          <p class="acceso-rapido">Acceso rápido con</p>

          <div class="iconos-registro">
            <a href="#" class="fb"><i class="fab fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fab fa-instagram"></i></a>
            <a href="#" class="google"><i class="fab fa-google"></i></a>
          </div>
        </form>
  </div>

</main>

<%- include ("./layouts/footer") %>

</body>
</html>
