<!DOCTYPE html>
<html lang="es">
  <%- include ("./layouts/head") %>    
  <body>
    <%- include ("./layouts/header") %> 

    <main class="col-12 col-s-12" style="display:block; clear:both; background-color:white; padding-top:10%; padding-bottom: 4%;">
      <div class="card">
        <img src="/images/avatars/<%= user.avatar %> " alt="avatar" style="width:100%">
        <h1>Hola, <%= user.fullName %></h1>
        <p class="title"><%= user.email %></p>
        <p><button>Editar</button></p>
      </div>
    </main>
  
      <%- include ("./layouts/footer") %>
  </body>
</html>
