<!DOCTYPE html>
<html lang="es">
  <%- include ("../layouts/head") %>    
  <body>
  <%- include ("../layouts/header") %>
    <main class="col-12 col-s-12" style="display:block; clear:both; background-color:white; padding-top:10%;  padding-bottom:4%;">    
        <div class="col-6 col-s-12 sombra form" style="width: 50%; margin-left:25%; background-color: white; padding:20px;">
            <form action="/product/save" method="post" id="create-form" enctype="multipart/form-data">                                              
                <span class="text-muted">                
                    <label style="font-size:1.5rem"><strong><a href="/rol">Producto</a> <i class="fa fa-angle-right"></i> Crear</strong></label>                
                </span>            
                <hr>                    
                <div>          
                    <label for="image"><b style="font-size: 19px;">Imagen</b></label>
                    <br><br>
                    <input 
                    type="file" 
                    name="image" 
                    id="image"
                    >
                    <p></p>
                    <% if (locals.errors && errors.image) { %>
                        <p class="errortexto"> <%= errors.image.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                </div>
                   

                <div>
                    <label for="name"><b style="font-size: 19px;">Nombre</b></label>
                    <input 
                    type="text" 
                    name="name" 
                    placeholder="Apple AirPods Pro"
                    value="<%= locals.oldData ? oldData.name : null %>"
                    id="<%= locals.errors && errors.name ? 'error' : null %>"
                    >
                    <% if (locals.errors && errors.name) { %>
                        <p class="errortexto"> <%= errors.name.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                </div>
                                    
                <div>
                    <label for="price"><b style="font-size: 19px;">Precio</b></label>
                    <input 
                    type="text" 
                    name="price" 
                    placeholder="32850.00"
                    value="<%= locals.oldData ? oldData.price : null %>"
                    id="<%= locals.errors && errors.price ? 'error' : null %>"
                    >
                    <% if (locals.errors && errors.price) { %>
                        <p class="errortexto"> <%= errors.price.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>                
                </div>

                <div>
                    <label for="stock"><b style="font-size: 19px;">Stock</b></label>
                    <input 
                    type="text" 
                    name="stock" 
                    placeholder="50.00"
                    value="<%= locals.oldData ? oldData.stock : null %>"
                    id="<%= locals.errors && errors.stock ? 'error' : null %>"
                    >
                    <% if (locals.errors && errors.stock) { %>
                        <p class="errortexto"> <%= errors.stock.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>                
                </div>
                   
                <div>
                    <label for="description"><b style="font-size: 19px;">Descripción</b></label>
                    <input 
                    type="text" 
                    name="description" 
                    placeholder="Tecnología del sonido"
                        value="<%= locals.oldData ? oldData.description : null %>"
                        id="<%= locals.errors && errors.description ? 'error' : null %>"
                    >   
                    <% if (locals.errors && errors.description) { %>
                        <p class="errortexto"> <%= errors.description.msg %> <i class="fas fa-exclamation-circle"></i></p>
                        <% } %>
                </div>

                <div>                       
                    <label for="brand"><b style="font-size: 19px;">Marca</b></label>                
                    <select name="brand" id="brand">
                        <option value="" selected disabled>Seleccionar</option>
                        <% for (let i = 0; i < brand.length; i++){ %>
                            <option value="<%= brand[i].id %>">
                                <%= brand[i].name %>
                            </option>
                        <% } %>
                    </select>        
                    <p></p>
                    <% if (locals.errors && errors.brand) { %>
                        <p class="errortexto"> <%= errors.brand.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                </div> 
                                
                <div>                       
                    <label for="category"><b style="font-size: 19px;">Categoria</b></label>                
                    <select name="category" id="category">
                        <option value="" selected disabled>Seleccionar</option>
                        <% for (let i = 0; i < category.length; i++){ %>
                            <option value="<%= category[i].id %>">
                                <%= category[i].name %>
                            </option>
                        <% } %>
                    </select>        
                    <p></p>
                    <% if (locals.errors && errors.category) { %>
                        <p class="errortexto"> <%= errors.category.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                </div> 
                
                <div>
                    <label for="color"><b style="font-size: 19px;">Color</b></label>                
                    <select name="color" id="color">
                        <option value="" selected disabled>Seleccionar</option>
                        <% for (let i = 0; i < color.length; i++){ %>
                            <option value="<%= color[i].id %>" style="color:<%= color[i].codigo %>;">
                                <%= color[i].name %>
                            </option>
                        <% } %>
                    </select>
                    <p></p>
                    <% if (locals.errors && errors.color) { %>
                        <p class="errortexto"> <%= errors.color.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                </div>
                <p></p>        

                <button class="col-5 col-s-5 btn-verde" style="float: left;" type="submit" id="guardar" name="guardar">Guardar</button>                
                <button class="col-5 col-s-5 btn-rojo" style="float: right;" type="reset">Borrar</button>                
            
            </form> 
        </div>
    </main>
    <%- include ("../layouts/footer") %>
</body>
</html>