<!DOCTYPE html>
<html lang="es">
  <%- include ("../layouts/head") %>    
  <body>
  <%- include ("../layouts/header") %>
    <main class="col-12 col-s-12" style="display:block; clear:both; background-color:white; padding-top:10%;  padding-bottom:4%;">    
        <div class="col-6 col-s-12" style="width: 25%; margin-left:35%; background-color: white; padding:20px; border: solid 2px gray">
            <form action="/product/save" method="post" id="create-form" enctype="multipart/form-data">
                
                <img src="/images/logo.jpg" class="logo2" style="margin: 5px; margin-bottom: 20px; margin-left: 130px;">
                  
                <h2 style="text-align: center; color: gray;">Crear producto</h2>
                    
                    <div>          
                    <label for="image"><b style="font-size: 19px;">Imagen</b></label>
                    <br><br>
                    <input 
                    type="file" 
                    name="image" 
                    id="image"
                    >
                    <p></p>
                    <% if (locals.errors && errors.image) { %>
                        <p class="errortexto"> <%= errors.image.msg %> <i class="fas fa-exclamation-circle"></i></p>
                        <% } %>
                    </div>
                   

                    <div>
                    <label for="name"><b style="font-size: 19px;">Nombre</b></label>
                    <input 
                    type="text" 
                    name="Name" 
                    placeholder="Enter nombre"
                    value="<%= locals.oldData ? oldData.Name : null %>"
                    id="<%= locals.errors && errors.Name ? 'error' : null %>"
                    >
                    <% if (locals.errors && errors.Name) { %>
                        <p class="errortexto"> <%= errors.Name.msg %> <i class="fas fa-exclamation-circle"></i></p>
                        <% } %>
                    </div>
                    
                
                    <div>
                    <label for="precio"><b style="font-size: 19px;">Precio</b></label>
                    <input 
                    type="text" 
                    name="precio" 
                    placeholder="Enter Precio"
                    value="<%= locals.oldData ? oldData.precio : null %>"
                    id="<%= locals.errors && errors.precio ? 'error' : null %>"
                    >
                    <% if (locals.errors && errors.precio) { %>
                        <p class="errortexto"> <%= errors.precio.msg %> <i class="fas fa-exclamation-circle"></i></p>
                        <% } %>
                
                    </div>
                   
                    <div>
                        <label for="descripcion"><b style="font-size: 19px;">Descripción</b></label>
                        <input 
                        type="text" 
                        name="descripcion" 
                        placeholder="Enter Descripción"
                         value="<%= locals.oldData ? oldData.descripcion : null %>"
                         id="<%= locals.errors && errors.descripcion ? 'error' : null %>"
                        >   
                        <% if (locals.errors && errors.descripcion) { %>
                            <p class="errortexto"> <%= errors.descripcion.msg %> <i class="fas fa-exclamation-circle"></i></p>
                            <% } %>
                    </div>

                <div>       
                <label for="brand"><b style="font-size: 19px;">Categoria</b></label>
                <select name="brand" id="brand">
                    <option value="" selected disabled>Seleccionar</option>
                    <% brands.forEach(brand => { %>
                        <option value="<%= brand.id %>">
                            <%= brand.name %>
                        </option>
                    <% }) %>
                </select>
                <p></p>
                <% if (locals.errors && errors.brand) { %>
                    <p class="errortexto"> <%= errors.brand.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                </div>   
                 <br><br>
                
                <div>
                <label for="colors"><b style="font-size: 19px;">Color</b></label>
                <p></p>
                <select name="colors" id="colors" multiple>  <!--multiple (colocar al final despues de color) -->
                    <% colors.forEach(color => { %>
                        <option value="<%= color.id %>" style="<%= `background-color:${color.value};`%>">
                            <%= color.name %>
                        </option>
                    <% }) %>
                </select>
                <p></p>
                <% if (locals.errors && errors.colors) { %>
                    <p class="errortexto"> <%= errors.colors.msg %> <i class="fas fa-exclamation-circle"></i></p>
                    <% } %>
                </div>
                <p></p>        

             <button type="submit" style="width: 30%; margin-left: 110px; background-color: gray;">Crear</button>
            
            </form> 
        </div>
    </main>
    <%- include ("../layouts/footer") %>
</body>
</html>