<!DOCTYPE html>
<html lang="es">
  <%- include ("../layouts/head") %>    
  <body>
  <%- include ("../layouts/header") %>
    <main class="col-12 col-s-12" style="display:block; clear:both; background-color:white; padding-top:15%;">
    
        <div id="carritoFlotante" class="carrito">
            <a href="/user/carrito" id="about"><i class="fas fa-shopping-cart"></i> </a>
        </div>

        <!--<section id="list-products">-->
        <% for (let i = 0; i < product.length; i++){ %>                    
            <a href="/product/detalle/<%= product[i].id %>"> 
            <div  class="col-4 col-s-12" style="padding: 20px; width: 25%;">          
                <div style="width: 100%; background-color: white; padding: 15px;">  <!-- class="sombra" -->    
                    <table style="text-align: center; width:100%; margin-top: 5px;">                         
                        <tr>
                            <div style=" text-align: center;"; >
                                <% if(product[i].image) { %>
                                    <img style="width:100%; height: 300px;" src="/uploads/products/<%= product[i].image%>" alt="">
                                <% } else { %>
                                    <img style="width:100%; height: 300px;" src="/images/default.jpg" alt="">
                                <% } %>
                            </div>
                               <td style="text-align: center"; >
                                <p2 style="font-size: 20px;"><%= product[i].name %></p>
                                <p style="font-size: 25px">ARS <%= product[i].price %></p>
                               </td>                            
                        </tr>                              
                    </table>                                                    
                </div>          
            </div>
        </a>                
    <% } %>
    <!--</section>-->
    <%- include ("../layouts/footer") %>
    </main>
</body>
</html>


