<!DOCTYPE html>
<html lang="es">
  <%- include ("../layouts/head") %>    
  <body>
  <%- include ("../layouts/header") %>
    <main class="col-12 col-s-12" style="display:block; clear:both; background-color:black; padding-top:10%;">
    <!--<section id="list-products">-->
        <% list.forEach(product => { %>                  
            <div class="col-4 col-s-12" style="padding:20px;">          
                <div style="background-color: white; padding:20px;">    
                    <table style="text-align: center; width:100%">  
                       <!--  <tr>      
                            <td style="text-align:center"; colspan="2">
                                <h2><%= product.categoria %></h2>
                            </td>                
                        </tr>  -->
                        <tr>
                            <td style="text-align:left"; >
                                <% if (product.image) { %>
                                    <img style="width:250px; height: 200px;" src="/uploads/products/<%= product.image%>" alt="">
                                <% } else { %>
                                    <img style="width:250px; height: 200px;" src="/images/default.jpg" alt="">
                                <% } %>
                            </td>
                            <td style="text-align:left"; >
                                <h2><%= product.name %></h2>
                                <p><i class="fab fa-facebook-f fa-lg" style="color: blue;"></i><p
                                <p><%= product.precio %></p>
                            </td>                            
                        </tr>  
                        <tr>      
                            <td style="text-align:right;"; colspan="2">
                                <a href="/product/<%= product.id %>">Ver mas</a>
                            </td>                
                        </tr>
                    </table>                                                    
                </div>          
            </div>  
                        
        <% }) %>
    <!--</section>-->
    <%- include ("../layouts/footer") %>
</body>
</html>


