<!DOCTYPE html>
<html lang="es">
  <%- include ("../layouts/head") %>    
  <body>
    <%- include ("../layouts/header") %> 

    <main class="col-12 col-s-12" style="display:block; clear:both; background-color:white; padding-top:10%; padding-bottom: 4%;">
      <div class="card form">
        <span class="text-muted" style="float: left; margin-bottom: 30px;">                            
            <label style="font-size:1.5rem"><strong><a href="/user">Usuario</a> <i class="fa fa-angle-right"></i> Detalle</strong></label>                
        </span>        

        <img src="/images/avatars/<%= user.avatar %> " alt="avatar" style="width:100%">
        <h1><a href="/user"><%= user.fullname %></a></h1>
        <p class="title"><%= user.email %></p>
        <p class="title"><%= user.roles.name %></p>       
      </div>
    </main>
  
      <%- include ("../layouts/footer") %>
  </body>
</html>
