<!DOCTYPE html>
<html lang="es">
  <%- include ("../layouts/head") %>    
  <body>
  <%- include ("../layouts/header") %>
<main>
    <div class="bg-img">
        <form method="POST" action="/user/login" class="container-usuario form sombra">
          <img src="/images/logo formulario.jpg" class="logo2">
          <div class="col-12" style="margin: 20px;">
            <a class="btn-azul col-5" style="font-size: 1rem; text-align: center;" href="/user/login">Inicia Sesión</a>
            <a class="btn-azul col-5" style="font-size: 1rem; text-align: center;" href="/user/register">Registrate</a>
          </div>
          <p></p>       
          <label for="email">Email:</label>
          <input 
          type="text" 
          placeholder="jhondoe@demo.com" 
          name="email"
          value="<%= locals.oldData ? oldData.email : null %>"
          id="<%= locals.errors && errors.email ? 'error' : null %>"
          >
          <% if (locals.errors && errors.email) { %>
            <p class="errortexto"> <%= errors.email.msg %> <i class="fas fa-exclamation-circle"></i></p>
            <% } %>
      
          <label for="psw">Contraseña:</label>
          <input type="password" placeholder="*********" name="password">

          <input type="checkbox" checked="checked" name="remember_user" style="margin-bottom:15px; display:inline; width: fit-content;">
          <label>Recuerdame</label>
      
          <button type="submit" class="btn-verde">Iniciar Sesión</button>                  
        </form>
  </div>

</main>

<%- include ("../layouts/footer") %>

</body>
</html>
